<!DOCTYPE html>
<html lang="en">
<footer>
  <section class="footer">
    <div class="logo_title">
      <!-- <i class="fa-solid fa-earth-asia"></i>
      <div>Wiki Map</div> -->
    </div>
    <div class="text_information">
      <p><span>A Collaborative web app created for the midterm project for the Lighthouse Labs Web Development Flex Program.</span></p>
    </div>
    </div>
  </section>
</footer>
