<!DOCTYPE html>
<html lang="en">

<footer>
  <nav >
    <div class="logo_title">
      <i class="fa-solid fa-earth-asia"></i>
      <div>Wiki Map</div>
    </div>
    <div class="text_information">
      <p>Wiki Map</p>
      <p><span>A Collaborative created web app:Wiki Map for the midterm project.</span></p>
    </div>
    </div>
  </nav>
</footer>
