<header>
  <nav >
    <div class="logo_title">
      <i class="fa-solid fa-earth-asia"></i>
      <div><a href="/" > Wiki Map </a></div>
    </div>
    <div class="nav_links">
      <% if (user) { %>
    <section class="nav_text">
      <div>
        <a href="/profile">Profile</a>
      </div>
      <div>
        <a href="/createMap"> Create Map</a>
      </div>
      <div>
          <a href="/logout"> Logout</a>
      </div>
    </section>
        <% } else { %>
          <div>
            <a href="/login"> Login</a>
            </div>
            <div>
            <a href="/register"> Register</a>
            </div>
            <% } %>
    </div>
  </nav>
</header>
