<header>
  <nav >
    <div class="logo_title">
      <i class="fa-solid fa-earth-asia"></i>
      <div>Wiki Map</div>
    </div>
    <div class="nav_links">
      <a href="/">Home</a>
      <a href="/profile">Profile</a>
      <a href="/map"> Create Map</a>
    </div>
  </nav>
</header>
