<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Homepage</title>
  <!--Custom CSS design-->
  <!-- Header-->
  <link rel="stylesheet" href="/styles/header.css">
  <!-- Homepage-->
  <link rel="stylesheet" href="/styles/homepage.css">
  <script src="https://kit.fontawesome.com/dd66a066a2.js" crossorigin="anonymous"></script>
</head>
<%- include('partials/header') %>
<body>
 <section class="main-hero">
  <div class="main-photo">
    <img src="https://media-cldnry.s-nbcnews.com/image/upload/rockcms/2022-03/plant-based-food-mc-220323-02-273c7b.jpg" alt="placeholder">
  </div>
  <div class="main-text">
    <h1> Header 1 </h1>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    <p>
  </div>
 </section>
 <section class="containers">
  <!--Container 1-->
  <div class="container-1">
    <div class="container-1-img">
      <img src="https://cdn10.bostonmagazine.com/wp-content/uploads/sites/2/2022/10/fea_bars-1soc.jpg" alt="container-1-placeholder">
    </div>
    <div class="container-1-text">
      <h2> Bars </h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Arcu cursus euismod quis viverra nibh cras. Varius sit amet mattis vulputate enim.
      </p>
    </div>
  </div>
  <!--Container 2-->
  <div class="container-2">
    <div class="container-2-img">
      <img src="https://www.gohawaii.com/sites/default/files/styles/image_gallery_bg_xl/public/hero-unit-images/10759.jpg?itok=RVKya-L8" alt="container-2-placeholder">
    </div>
    <div class="container-2-text">
      <h2> Sight-seeing</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Arcu cursus euismod quis viverra nibh cras. Varius sit amet mattis vulputate enim.
      </p>
    </div>
  </div>
  <!--Container 3-->
  <div class="container-3">
    <div class="container-3-img">
      <img src="https://secretnyc.co/wp-content/uploads/2021/08/l-train-1024x575.jpeg" alt="container-3-placeholder">
    </div>
    <div class="container-3-text">
      <h2>Thrift Shopping</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Arcu cursus euismod quis viverra nibh cras. Varius sit amet mattis vulputate enim.
      </p>
    </div>
  </div>
 </section>
</body>
</html>
