<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Map</title>
  <link rel="stylesheet" href="/styles/header.css">
  <link rel="stylesheet" href="/styles/map.css">
  <script src="https://kit.fontawesome.com/dd66a066a2.js" crossorigin="anonymous"></script>
</head>
<%- include('partials/header') %>
<body>
  <% for (let id in map) { %>
    <%= console.log(map[id]); %>
  <% } %>
  <div class="viewport">
    <div class="side_nav">
      <div class="marker_nav">
        <div>
          <div class="text_information">
            <p>West Edmonton Mall</p>
            <p><span>This is one of the biggest malls in North America. People don't know how to park here. Okay now let us see what three lines looks like.aaaaaaaaaa</span></p>
          </div>
          <div class="edit_delete">
            <a href="/map">Add</a>
            <a href="/map">Delete</a>
          </div>
        </div>
        <div>
          <div class="text_information">
            <p>West Edmonton Mall</p>
            <p><span>This is one of the biggest malls in North America. People don't know how to park here. Okay now let us see what three lines looks like.aaaaaaaaaa</span></p>
          </div>
          <div class="edit_delete">
            <a href="/map">Add</a>
            <a href="/map">Delete</a>
          </div>
        </div>
        <div>
          <div class="text_information">
            <p>West Edmonton Mall</p>
            <p><span>This is one of the biggest malls in North America. People don't know how to park here. Okay now let us see what three lines looks like.aaaaaaaaaa</span></p>
          </div>
          <div class="edit_delete">
            <a href="/map">Add</a>
            <a href="/map">Delete</a>
          </div>
        </div>
        <div>
          <div class="text_information">
            <p>West Edmonton Mall</p>
            <p><span>This is one of the biggest malls in North America. People don't know how to park here. Okay now let us see what three lines looks like.aaaaaaaaaa</span></p>
          </div>
          <div class="edit_delete">
            <a href="/map">Add</a>
            <a href="/map">Delete</a>
          </div>
        </div>
      </div>
      <div class="create_marker">
        <p>Create A Marker</p>
      </div>
    </div>
    <div id="map"></div>
  </div>
  <script> 
    function initMap(){
      console.log(map);
      let options = {
        zoom: 12,
        center: {lat: 53.5461, lng: -113.4937}
      }

      let map = new google.maps.Map(document.getElementById('map'), options);

      let marker = new google.maps.Marker({
        position:{lat: 53.5225, lng: -113.6242},
        map:map
      })

      let infoWindow = new google.maps.InfoWindow({
        content:'<h3>West Edmonton Mall</h3><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/77/West_Edmonton_Mall%2C_Edmonton%2C_Alberta_%2822094236672%29.jpg/270px-West_Edmonton_Mall%2C_Edmonton%2C_Alberta_%2822094236672%29.jpg" alt="West Edmonton Mall">'
      })

      marker.addListener('click', function(){
        infoWindow.open(map, marker);
      })
    }


    // Testing stuff down here:
    /*
    function addMarker(coords, map){
      let marker = new google.maps.Marker({
        position: coords,
        map: map
      })
    }
    */
  </script>
  <script async
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBDyx9AbptmMmtS7aQYtOxVJDalv7Z-aHA&callback=initMap">
  </script>
</body>
</html>