nav.footer {
  background-color: #1F456E;
  height: 3em;
  width: auto;
  padding: 1em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

p {
  color: #F3ECE7;
  font-size: 3em;
  display: flex;
}
