// html {
//   background-color: #F3ECE7;
// }

body {
  margin: 0px;
}

nav {
  background-color: #1F456E;
  height: 3em;
  width: auto;
  padding: 1em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

div.nav_links{
  color: #F3ECE7;
}

.logo_title {
  display: flex;
  align-items: center;
}

.logo_title > div {
  font-size: 1.3em;
  color: #F3ECE7;
  margin-left: 1em;
}

.fa-earth-asia {
  color: #F3ECE7;
  font-size: 3em;
  display: flex;
}

.nav_links {
  display: flex;
  justify-content: space-between;
  width: 20%;
}

.nav_links > div > a {
  color: #F3ECE7;
  text-decoration: none;
  font-size: 1.3em;
}


