#map {
  height: 52em;
  width: 78.5%;
}

.viewport {
  display: flex;
  flex-direction: row;
  width: auto;
  padding-top: 10px;
}

.side_nav {
  display: flex;
  flex-direction: column;
  width:auto;
  margin-right: 0.5%;
  align-items: center;
}

.marker_nav {
  height: 35em;
  background-color: #F3ECE7;
  display:flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;
  margin-left: 5px;
}

.marker_nav > div {
  background-color: #1F456E;
  width: 330px;
  height: 100px;
  padding:10px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-bottom: 2px solid rgb(138, 138, 138);
  margin-bottom: 5px;
}

.text_information {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
  font-size: 15px;
  color:#F3ECE7;
}

.text_information > p {
  margin: 0;
  width: 300px;
  padding: 3px;
  text-align: left;
}

.text_information > p:nth-child(1) {
  font-size: 18px;
}

.edit_delete {
  display: flex;
  justify-content: space-between;
  width: 80%;
}

.edit_delete > a {
  text-decoration: none;
  color: #1F456E;
  background-color: #F3ECE7;
  border-radius: 25px;
  width: 40%;
  display: flex;
  justify-content: center;
}

.create_marker {
  background-color: #1F456E;
  width: auto;
  margin-top:12px;
  color: #F3ECE7;
  height: 250px;
  border-radius: 20px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.create_marker > p {
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  font-size: 18px;
  width: 320px;
}

.create_marker > form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.create_marker > form > label {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  text-align: right;
  width: 320px;
  line-height: 26px;
  margin-bottom: 10px;
}

.create_marker > form > label > input {
  background-color: #F3ECE7;
  height: 20px;
  flex: 0 0 200px;
  margin-left: 30px;
}

.create_marker > form > button {
  margin-top: 5px;
  color: #1F456E;
  background-color: #F3ECE7;
  border-radius: 8px;
  border: none;
  width: 80px;
}

.edit_delete > form > button {
  margin-top: 5px;
  color: #1F456E;
  background-color: #F3ECE7;
  border-radius: 8px;
  border: none;
  width: 80px;
}