body{
  background-color: white;
}

h2 {
  text-align: center;
}

.btn-view {
  background-color: rgb(98, 98, 247);
}

.btn-edit {
  background-color: yellow;
}

.btn-delete {
  background-color: red;
}
